@import "../../settings.scss";

.mainSection {
  align-items: center;
  background-color: $lightBlue;
  color: $blackText;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 5vh 0 5vh 0;
  #section-widget-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    .section-widget {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  .mainSection__row {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 90%;
    .post-column {
      align-items: center;
      display: flex;
      height: 30vh;
      justify-content: center;
      .post {
        align-items: center;
        background: white;
        color: $blackText;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        width: 100%;
        .slide-title {
          width: 90%;
        }
        .slide-content {
          align-items: center;
          color: $blackText;
          color: $grayText;
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 90%;
        }
        .wp-block-image {
          width: 75px;
          height: 75px;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 993px) {
  .slide-title {
    margin-top: 20%;
  }
}

@media only screen and (max-width: 992px) {
  .post {
    justify-content: center;
    .slide-title {
      margin-top: 0;
    }
  }
}
