/* DO NOT USE THOSE VARIABLES IN THE OTHER SCSS FILES! */
$black: #000000;
$blackText: #2d3236;
$blue: #215398;
$cyan: #28a9e0;
$grayText: #808080;
$lightBlue: #f1f6fc;
$magenta: #ff3859;
$white: #ffffff;
$yellow: #ffd025;

$base-padding: 24px;
$radius: 5px;
$base-size: 1em;

$font-title: "Fifteen", sans-serif;

$background-color: $white;

/*Text*/
$text-color: $black;

/*Post*/
$post-bg: $white;
$post-heading-color: $blackText;
$post-text-color: $grayText;

/*Splash*/
$splash-bg: $blue;
$splash-heading-color: $white;
$splash-dot-color: $magenta;
$splash-button-color: $cyan;
$splash-button-bg-active: rgba(255, 255, 255, 0.05);

/*MainSection*/

$mainSection-bg: $lightBlue;
$mainSection-heading-color: $blackText;
